body {
    text-align: center;
}

.flexBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex {
    flex: 1;
}

.border {
    border: solid 1px black;
    padding: 10px;
}